@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 200vh;
}

header {
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffee;
    transition: 0.5s;
}

header.scrolling {
    background-color: #ffffeed5;
    padding: 5px 4%;
}

#auroraLogo {
    height: 80px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBtns {
    font-family: "Fanwood Text", serif;
    font-weight: 500;
    font-style: italic;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 30px;
}

.banner {
    position: relative;
    height: 100vh;
    background-image: url(images/restaurantBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.349);
    z-index: 1;
}

.banner h1 {
    font-size: 4rem;
    position: relative;
    z-index: 2;
}