.bannerMenu {
    position: relative;
    height: 100vh;
    background-image: url(/images/textureMenu.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.bannerMenu h1 {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-size: 7rem;
    color: rgb(17, 17, 17);
    margin-top: 10vh;
}

.tableMenu {
    position: relative;
    background-image: url(/images/menuTable.jpg);
    background-position: bottom;
    background-repeat: repeat;
    background-size: cover;
    z-index: 0;
    padding-top: 10vh; padding-bottom: 10vh;
}

.tableMenu::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.795);
    z-index: 0;
}

.menuItems1, .menuItems2, .menuItems3, .menuItems4 {
    position: relative;
    z-index: 1;
    margin-left: 20vw; margin-right: 10vw;
    display: flex;
    flex-direction: row;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 3vh;
    width: 100%;
    gap: 1rem;
}

.item1img, .item2img, .item3img, .item4img, .item5img, .item6img, .item7img, .item8img {
    width: 29vh;
    height: 29vh;
    flex-shrink: 0;
    border: 5px solid black;
    overflow: hidden;
}

.item1img img,
.item2img img,
.item3img img,
.item4img img,
.item5img img,
.item6img img,
.item7img img,
.item8img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 h2, .item2 h2, .item3 h2, .item4 h2, .item5 h2, .item6 h2, .item7 h2, .item8 h2 {
    margin: 0;
    max-width: 40vw;
    word-wrap: break-word;
    font-size: 1.6rem;
    font-family: "Fanwood Text", serif;
    color: white;
    letter-spacing: 0.2rem;
}

.itemContent {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: "Fanwood Text", serif;
    color: white;
    letter-spacing: 0.2rem;
}
