@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.navBtns a {
  color: inherit;
  text-decoration: none;
}

#homeBtn,
#menuBtn,
#aboutBtn,
#reviewsBtn {
  display: inline-block;
  transition: transform 0.3s;
}

#homeBtn:hover,
#menuBtn:hover,
#aboutBtn:hover,
#reviewsBtn:hover {
  transform: scale(1.3);
  font-weight: 700;
}

#socialMediasBtn {
  display: inline-block;
  transition: transform 0.3s;
}

#socialMediasBtn:hover {
  transform: scale(1.8);
  cursor: pointer;
}

header {
  width: 100%;
  padding: 5px 4%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f3f8f8;
  transition: 0.5s;
}

header.scrolling {
  background-color: #f3f8f8c7;
  padding: 3px 2%;
}

#header {
  box-shadow: 5px 3px 3px 3px rgba(0, 0, 0, 0.274);
}

#auroraLogo {
  height: 80px;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navBtns {
  font-family: "Fanwood Text", serif;
  font-weight: 500;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-image: url(/images/restaurantBg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.486);
  z-index: 1;
}

.banner h1 {
  font-size: 8rem;
  position: relative;
  z-index: 2;
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 700;
}

.bannerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bannerInfo h2 {
  z-index: 2;
  font-family: "Fanwood Text", serif;
  font-weight: 500;
  font-style: italic;
  color: white;
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 0 10px;
}

.wood {
  background-image: url(/images/marbleFirstBg.jpg);
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  padding: 20px;
  gap: 20px;
}

.woodImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.woodImg img {
  max-height: 400px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  margin: 20px;
}

.woodText {
  background-color: rgba(0, 0, 0, 0.61);
  padding: 3vh;
  border-radius: 15px;
  max-width: 600px;
}

.woodText h1 {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-size: 3rem;
  color: #ecb131;
  text-align: center;
  margin-bottom: 20px;
}

.woodText p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  color: white;
  text-indent: 1.2rem;
  text-align: justify;
  line-height: 1.6;
}

.content {
  position: relative;
  background-image: url(/images/wineBg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 20px;
  min-height: 100vh;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.664);
  z-index: 0;
}

.content > * {
  position: relative;
  z-index: 2;
}

.contentTitle {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Luxurious Roman", serif;
  font-size: 3rem;
  color: #ecb131;
  padding-top: 10vh;
}

.containerDifferences {
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.difference1,
.difference2,
.difference3 {
  max-width: 350px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.568);
  border: 3px solid #ecb131;
  background-color: rgba(0, 0, 0, 0.651);
  padding: 20px;
}

.differenceImg {
  width: 100%;
  max-width: 250px;
  overflow: hidden;
}

.differenceImg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.differenceTitle {
  font-family: "Luxurious Roman", serif;
  font-size: 1.5rem;
  color: #ecb131;
  text-align: center;
}

.differenceContent {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 10px;
}

.marble {
  background-image: url(/images/marbleFloor.jpg);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}

.menuImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menuImgs img {
  max-height: 400px;
  border-radius: 25px;
  box-shadow: 5px 5px 8px black;
}

.menuInfo {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.61);
  border-radius: 25px;
  padding: 20px;
}

.menuInfo h1 {
  font-family: "Luxurious Roman", serif;
  font-size: 3rem;
  color: #ecb131;
  margin-bottom: 20px;
  text-align: center;
}

.menuInfo p {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  color: rgb(247, 247, 247);
  text-align: justify;
  line-height: 1.6;
}

.pins {
  position: relative;
  background-image: url(/images/blurRestaurant.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 20px;
  min-height: 100vh;
}

.pins::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.pins > * {
  position: relative;
  z-index: 2;
}

.pinsTitle {
  font-family: "Luxurious Roman", serif;
  font-size: 4rem;
  color: #ecb131;
  text-align: center;
}

.pinsDescription {
  padding: 5vh 0;
}

.pinsDescription p {
  max-width: 1200px;
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  color: rgb(245, 243, 238);
  text-align: center;
  margin: 40px auto;
  line-height: 1.6;
}

.pinsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.pinsIcons {
  width: 80px;
  height: 80px;
  border: 3px solid #ecb131;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ecb131;
  margin-bottom: 15px;
}

.pin1,
.pin2,
.pin3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  text-align: center;
}

.pinTitle {
  font-family: "Luxurious Roman", serif;
  font-size: 1.5rem;
  color: #ecb131;
  margin-bottom: 15px;
}

.pinText {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  color: rgb(245, 243, 238);
  line-height: 1.5;
}

footer {
  width: 100%;
  background-color: #f3f8f8;
  font-family: "Libre Baskerville", serif;
  font-size: 0.8rem;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.footerInfos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  text-align: center;
}

.contact h1,
.institutional h1,
.adress h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  color: rgb(17, 17, 17);
  margin-bottom: 10px;
}

.contactNumber,
.contactEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.institutionalInfos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.institutionalInfos a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 0.8rem;
}

.copyright {
  text-align: center;
}

/* === ANIMAÇÕES === */
.animate__animated.animate__fadeInDown,
.animate__animated.animate__fadeInUp {
  --animate-duration: 2.5s;
}

#aboutTitle,
#menuHead,
#pinAnimate1,
#pinAnimate2,
#pinAnimate3,
#pinIcon1,
#pinIcon2,
#pinIcon3 {
  opacity: 0;
  transition: opacity 0.3s;
}

#aboutTitle.animate__animated,
#menuHead.animate__animated,
#pinAnimate1.animate__animated,
#pinAnimate2.animate__animated,
#pinAnimate3.animate__animated,
#pinIcon1.animate__animated,
#pinIcon2.animate__animated,
#pinIcon3.animate__animated {
  --animate-duration: 1.6s;
  opacity: 1;
}

@media (max-width: 1024px) {
  body {
    padding-top: 10vh;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .woodText h1 {
    font-size: 2.5rem;
  }
  .contentTitle {
    font-size: 2.5rem;
  }
  .menuInfo h1 {
    font-size: 2.5rem;
  }
  .pinsTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  header ul li {
    margin: 10px;
  }

  .banner h1 {
    font-size: 3rem;
  }

  .banner h2 {
    font-size: 1rem;
  }

  .woodText h1 {
    font-size: 2rem;
  }

  .woodText p {
    font-size: 1rem;
  }

  .contentTitle {
    font-size: 2rem;
  }

  .menuInfo h1 {
    font-size: 2rem;
  }

  .pinsTitle {
    font-size: 2rem;
  }

  .pinsDescription p {
    font-size: 1rem;
  }

  .pinTitle {
    font-size: 1.2rem;
  }

  .pinText {
    font-size: 0.9rem;
  }
}
